# ==========================================
# 1. Python 环境与缓存
# ==========================================
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 2. 算法中间产物与数据集
# ==========================================
algorithm/data/
*.mat
*.pth
algorithm/plots/
algorithm/hw_export/

# ==========================================
# 3. FPGA 工程垃圾文件 (Vivado 通用拦截)
# ==========================================
*.jou
*.log
*.str
*.pb
*.wdb
*.vcd
.Xil/
xsim.dir/
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/

# 如果你未来使用 Quartus，解开以下注释
# db/
# incremental_db/
# output_files/
# *.qws

# ==========================================
# 4. 放行门面资源
# ==========================================
!assets/